@model IEnumerable<Developer>
@{
	ViewData["Title"] = "Developers";
}
<div class="row mt-5">
	<h1 class="col-6">Developer</h1>
	<div class="col-6 text-end">
		<a class="btn-primary btn" asp-action="Create">
			<i class="bi bi-file-plus"></i>
			<span class="d-none d-sm-inline-block">Create New Developer</span>
			</a>
	</div>
</div>

@foreach (var item in Model)
{
	<div class="bg-light p-3">
		<div class="row justify-content-center" style="height:50px">
			<div class="col-8 h-100">
				<img src="@item.Logo" alt="@item.Name logo" class="img-fluid h-100" />
			</div>
			<div class="col-4 btn-group">
				<a asp-action="Details" asp-route-Id="@item.Id" class="btn btn-info w-25 d-flex align-items-center justify-content-center">
					<i class="bi bi-info-square"></i>
					<span class="d-none d-lg-block"> &nbsp;Details</span>
				</a>
				<a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-warning w-25 d-flex align-items-center justify-content-center">
					<i class="bi bi-pencil-square"></i>
					<span class="d-none d-lg-block">&nbsp;Edit</span>
				</a>
				<a asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger w-25 d-flex align-items-center justify-content-center">
					<i class="bi bi-trash3"></i>
					<span class="d-none d-lg-block">&nbsp;Delete</span>
				</a>

			</div>
		</div>
	</div>
}