@model IEnumerable<Game>
@{
	ViewData["Title"] = "Games";
}
<div class="row mt-5">
	<h1 class="col-6">Games</h1>
	<div class="col-6 text-end">
		<a class="btn-secondary btn" asp-action="Create">
			<i class="bi bi-file-plus"></i>
			<span class="d-none d-sm-inline-block">Add Game</span>
		</a>
	</div>
</div>
<div class="row">
	@foreach (var item in Model)
	{

		<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
			<div class="card bg-light h-100">
				<img class="card-img-top h-100" src="@item.CoverImg" />
				<div class="card-body">
					<p class="card-title">@item.Title</p>
					<div class="w-100 btn-group">
						<a asp-action="Details" asp-route-Id="@item.GameId" class="btn btn-info w-25 d-flex align-items-center justify-content-center" title="Details">
							<i class="bi bi-info-square"></i>
							
						</a>
						<a asp-action="Edit" asp-route-Id="@item.GameId" class="btn btn-warning w-25 d-flex align-items-center justify-content-center" title="Edit">
							<i class="bi bi-pencil-square"></i>
							
						</a>
						<a asp-action="Delete" asp-route-Id="@item.GameId" class="btn btn-danger w-25 d-flex align-items-center justify-content-center" title="Delete">
							<i class="bi bi-trash3"></i>
							
						</a>

					</div>
				</div>
			</div>
		</div>

	}
</div>